option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: application:application

files:
  "/etc/nginx/conf.d/types_hash.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      types_hash_max_size 2048;
      types_hash_bucket_size 128;

  "/etc/nginx/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      client_max_body_size 90M; # or any size you need

container_commands:
  01_restart_nginx:
    command: "service nginx reload"
